
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #22a0bb!important;">
  <div class="container">
    <a class="navbar-brand" href="/">Trang chủ</a>
    {{#if session.user}}
      <a class="ms-5 navbar-brand" href="/predict">Dự đoán sức khoẻ</a>
    {{/if}}
  
    <div class="collapse navbar-collapse d-flex justify-content-end " id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if session.user}}
          <!-- Nếu người dùng đã đăng nhập -->
          <li class="nav-item">
            <a class="nav-link" href="#">Xin chào, {{session.user.full_name}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Đăng xuất</a>
          </li>
        {{else}}
          <!-- Nếu người dùng chưa đăng nhập -->
          <li class="nav-item">
            <a class="nav-link" href="/signup">Đăng ký</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Đăng nhập</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
  
</nav>
